
.header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 1px #ccc;
    text-align: center;
    margin-bottom: 40px;
}

.header__title {
    font-size: 30px;
    margin-top: 8px;
}

.subtitle{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.table__container{
    overflow:scroll;
    width:1100px;
    height: 500px;

}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.actions{
 display: flex;   
}

.create__button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.separeted{
    margin-right: 5px;
}

